$header-height: 3rem;
$header-bg-color: #162338a3;
$header-gap: 2rem;

$dock-width: 40px;

// $window-head-height: 50px;

:export {
  headerHeight: $header-height;

  dockWidth: $dock-width;

  // windowHeadHeight: $window-head-height;
}
