.post-content {
  color: white;
  &__header {
    height: $window-header-height;
    border-bottom: 1px solid #555;
    background-color: #343637;
  }

  &__body {
    background-color: #1d1f21;
    .category {
      font-size: 1.5rem;
    }

    .title {
      font-size: 3rem;
    }

    .created {
      font-size: 1.2rem;
      color: gray;
    }
  }
}
