.post-list-wrapper {
  flex: 0 0 auto;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  .header {
    height: $window-header-height;
    border-bottom: 1px solid #555;
  }

  .post-list {
    padding: 1rem;

    &__category {
      font-size: 1.2rem;
      color: beige;
    }

    &__title {
      font-size: 1.7rem;
      color: white;
    }

    &__created {
      font-size: 1.1rem;
    }

    &__desc {
      font-size: 1.1rem;
      line-height: normal;
    }
  }
}
